.contenedor 
{
    max-width: 1140px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.contenedor .caja 
{
    width: 100%;
    height: 200px;
    background-color: red;
    margin: 40px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}