.accordion-btn {
  width: 100%;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  color: #444;
  background-color: #ADD8E6;
  padding: 19px;
  outline: none;
  border: none;
  border-radius: 2px;
}

.accordion-btn:hover {
  background-color: #87CEFA; 
}

.container {
  display: none;
  padding: 0 18px;  
  background-color: white;
  overflow: hidden;
}

p {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #2e86c1;
  border-radius: 2px;
  padding: 5px;
}  

.paragraph1 {
  word-wrap: break-word;
  color: #FFA500; 
}

.paragraph2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color:#0000CD;
}

.paragraph3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  color:#228B22;
}

h1 {
  word-spacing: 5px;
  color: blue;
  font-weight: bold;
  text-align: center;
}

h2 {
  word-spacing: -5px;
  background-color: #eee;
  text-align: center;
}
